@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

.container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1.5rem;
    font-family:'Prompt';
    font-size: medium;
   
}

ul{
    display: flex;
    flex-direction: column;
    flex:3 0;
    justify-content: space-evenly;
    border: 1px solid #ffa034;
    border-radius: 1rem;
    list-style-type: none;
    margin: .5rem;
    padding: 0;
}

ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #e4e4e4;
}

ul li:last-child{
   border: none; 
}

ul li img{
    width: 5rem;
    height: 5rem;
    border-radius: 100rem;
    object-fit: cover;
}

ul li div{
    padding: 1rem;
}

ul li div:not(:first-child){
    flex-basis: 18%;
}

ul li select{
    width: 3rem;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 1.1rem;
    font-weight: 100;
}

ul .remove{
    border-radius: 2rem;
    background-color: #e72929;
    border: none;
    padding: .5rem;
    color: whitesmoke;
    opacity: .7;
    outline: none;
}

ul .remove:hover{
    opacity: 1;
    cursor: pointer;
}

.Checkout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    align-items: center;
    flex: 1 3;
    height: 20rem;
    border: 1px solid #e9792e;
    border-radius: 1rem;
    padding: .5rem;
    margin: .5rem;
}

.link:focus{
    outline:0;
    
}

.Checkout>div{
    font-size: 1.4rem;
    margin: 1rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    float: left;
}

.Checkout .count{
    margin-bottom: 1.5rem;
}

.Checkout .count::before{
    content: 'Count: ';
    color: grey;
}

.Checkout .totalprice::before{
    content: 'Price: ';
    color: grey;
}

 .button{
    color: white;
    background: #ff9100;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10rem;
    outline: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


button:hover{
    opacity: .9;
    cursor: pointer;
}

.btstyle{
    
    flex-direction: column;
    
   float: right;
    display:flex;
    margin-right: 45rem;
    
    flex-wrap: wrap;   
    
    width:10rem;
   
}