
@import url("https://fonts.googleapis.com/css?family=Oswald|Noto+Sans");

.container{
    background-image: linear-gradient(to right,rgb(214, 68, 0),rgb(255, 155, 40))

}

.para{
    background-image: url('/assets/images/Foods/template.png');
    padding: 0;
}


.box{
    box-shadow: 0 4px 7px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
    
    border-radius: 5px 5px 10px 10px;
}

.box:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

ul{
    justify-content:space-evenly;
    display: flex;
    align-items: center;
    padding: 5px 16px;
   
    list-style-type: none;
    flex-wrap: wrap;
   gap: 3rem;
 
    
}

.favorite{
    position: absolute;
    top: 0.5rem;
    right: 2.3rem;
    font-size: 1.5rem;
}







 img{
    height: 20rem;
    width: 20rem;
    margin: none;
    border-radius:1rem 1rem 0 0;
    border: 1px rgb(255, 209, 123);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    color: rgb(0, 0, 0);
    padding:0;

}






.content{
    color: black;
    font-size: medium;
    font-family: "Noto Sans";
    padding: .5rem 1rem;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 10px 10px;

}

span{
    display: inline-block;
    height:1px;
    width:2px;
    
}

.cooktime{
    color: rgb(0, 0, 0);
}

#time{
    font-style: italic;
    font-size: small;
}



#button-solid{
    border: none;
    background: none;
}

#button-solid:focus{
    border: none;
    outline: none;
}

.orgins{
    flex: 9;
    
}

.origins span{
    border-radius: 2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: 0.8rem;
    color: gray;
    
    
}

