
@import url("https://fonts.googleapis.com/css?family=Oswald|Noto+Sans");

ul{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}

.favorite{
    position: absolute;
    top: 0.5rem;
    right: 2.3rem;
    font-size: 1.5rem;
}







 img{
    height: 20rem;
    width: 20rem;
    margin: 0.5rem;
    border-radius:1rem;
    border: 1px rgb(255, 209, 123);
    display: flex;
    overflow: hidden;
    flex-direction: column;
    color: rgb(0, 0, 0);
    padding:0;

}




li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

.content{
    color: black;
    font-size: medium;
    font-family: "Noto Sans";
    padding: .5rem 1rem;
    position: relative;

}

span{
    display: inline-block;
    height:1px;
    width:2px;
    
}

.cooktime{
    color: rgb(0, 0, 0);
}

#time{
    font-style: italic;
    font-size: small;
}



#button-solid{
    border: none;
    background: none;
}

#button-solid:focus{
    border: none;
    outline: none;
}

.orgins{
    flex: 9;
    
}

.origins span{
    border-radius: 2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: 0.8rem;
    color: gray;
    
    
}

