<html>
<div class="container">
      
        <img [src]="food.imageUrl" [alt]="food.name"/>
    
<div class="details">
    <div class="header">
        
            {{food.name}}       
        
    </div>
    <div class="orgins">
        <span *ngFor="let orgin of food.orgins">
           {{food.orgins}}    
        </span>
    </div>
         <div class="tags">
            <app-tags [foodPageTags]="food.tags" justifycontent="start">
            </app-tags>
         </div>

         <div class="cook-time">
            <span>
                Time to cook about <strong>{{food.cookTime}}</strong> minutes
            </span>
        </div>
    
        <div class="price">
            <b>&#x20B9;{{food.price}}</b>
        </div>
    
        <button (click)="addtoCart()">Add To Cart</button>
</div>

</div>
</html>