html{
    size: 24rem;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin:3rem;
    
}

.container > *{
    min-width: 25rem;
    max-width: 40rem;
}

img{
    object-fit: cover;
    border-radius: 3rem;
    flex: 1 0;
    size-adjust: 40%;
    height: 35rem;
    margin: 1rem;
}

.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex:1 0;
    border-radius: 3rem;
    padding: 2rem;
    color: black;
    margin-left: 1rem;
}

.details .header{
    display: flex;
    justify-content: space-between;
    font-size: 29px;
    font-weight: bold;
    font-family: Arial;
}

.details .name{
    font-size: 28rem;
    font-weight: bold;
    font-family: Arial;
}

.details .origins{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    opacity: 20rem;
   
}


.details .origins > span{
    padding: 0.5rem;
    font-size: 25px;
    margin: .5rem .5rem .5rem 0;
    border-radius: 2rem;
    background-color: aliceblue;
    font-family: Arial;
}

.details .cook-time{
    margin-top: 1rem;
    font-style: italic;
    font-family: 'Arial Narrow';
    font-weight: lighter;
   
}


.details .cook-time span{
    padding: .6rem 2rem .6rem 0;
    border-radius: 10rem;
    font-size: 1.1rem;
    opacity: .8;
}


.details .price{
    font-size: 1.8rem;
    margin: 2rem 2rem 2rem 0;
    color: green;
}


.details .price::before{
    content: "Price: ";
    color: darkgrey;
}


.details button{
    color: white;
    background: #ff9100;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 10rem;
    outline: none;
}

.details button:hover{
    opacity: .9;
    cursor: pointer;
}

